body {
    background-image: url("../images/Ryman.jpg");
  background-repeat: no-repeat;
background-size: cover;
    font-family: 'Gayathri', sans-serif;
}

.jumbotron {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    color: rgb(10, 2, 19);
    font-size: 80px;
} 

h2 {
    color: white;
    text-align: center;
}

#timeDisplay {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: large;
}