body {

    background: url("../images/Ryman.jpg");

    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Gayathri', sans-serif;
}

.jumbotron {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    color: rgb(243, 240, 245);
    font-size: 80px;
}

h2 {
    color: black;
    text-align: center;
}

#timeDisplay {
    color: black;
    text-align: center;
}

p {
    color: white;
    text-align: center;
    font-size: large;
}

#welcome {
    text-align: center;
}

.buttons {
    padding-left: 300px;
    padding-right: 300px;


}

#results {
    text-align: center;
    color: white;
    font-size: larger;
}

.wrapper {
    background: rgba(147, 150, 147, 0.6);
    position: relative;
    border: 5px double black;
    width: 60%;
    margin: 0 auto;

}

h3 {
    color: white;
}