body {

    background: url("../images/bwnight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gayathri', sans-serif;
}

.jumbotron {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
    color: rgb(243, 240, 245);
    font-size: 80px;
    height: 175px;  
}

h2 {
    color: white;
    text-align: center;
}

#timeDisplay {
    color: black;
    text-align: center;
}

p {
    color: white;
    text-align: center;

}

#welcome {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 30px;
    font-weight: bold;
    
}

.buttons {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
}


#results {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
    text-align: center;
    color: white;
    
}

.wrapper {
    background: rgba(147, 150, 147, 0.6);
    position: relative;
    border: 5px double black;
    width: 60%;
    height: 600px;
    margin: 0 auto;
}

h3 {
    color: white;
}




@media screen and (max-width: 640px) {}
